* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  color: #2c2c2c;
  font-family: "Poppins";
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url("./../assets/style-prop.svg");
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 0 2rem;
  padding: 2em;
  width: 91%;
}

.back {
  width: 50px;
  height: 50px;
}

.caption {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 106%;
  letter-spacing: 0.015em;
}

.content-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone {
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  background-color: white;
  background-image: url("./../assets/dropzone-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rd-button {
  display: none;
}

.option-icon {
  width: max-content;
  padding: 0.5rem 2rem;
  margin: 0 0.8rem;
  background-color: #f1f1f1;
  border-radius: 12px;
}

.rd-button:checked + label > div {
  background-color: #ffffff;
  padding: 0.3rem 1.9rem;
  border: 3px solid #ff4242;
  box-shadow: 0px 7px 36px rgba(235, 28, 36, 0.4);
}

.transfer-button {
  background-color: #ff4242;
  padding: 0.8rem 2.5rem;
  margin: 1rem 0;
  box-shadow: 0px 7px 36px rgba(235, 28, 36, 0.4);
  border-radius: 12px;
  border: none;
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer p {
  margin: 0 1.5rem;
  color: #ff4242;
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: #2c2c2c;
}
