{% extends "base.html" %} {% block title%}
<title>Flamingo - Home</title>
{% endblock %} {% block css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/curated_collection.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-wrapper">
  <div class="nav-bar">
    <a href="/" class="link">
      <p class="site-title">Flamingo<span class="period">.</span></p>
    </a>
    <div class="navigation-tabs">
      <a class="link" href="/"><p class="tabs">Home</p></a>
      <span class="separator">|</span>
      <div class="tabs active-tab">
        Curated Collection
        <hr color="#ff4242" />
      </div>
      <span class="separator">|</span>
      <a class="link" href="/about"><p class="tabs">About</p></a>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="upper-section">
      <div class="c1">
        <img
          src="{{url_for('static', filename='assets/c1.png')}}"
          width="100%"
          height="100%"
        />
      </div>
    </div>
    <div class="lower-section">
      <div class="c2">
        <img
          src="{{url_for('static', filename='assets/c2.png')}}"
          width="100%"
          height="100%"
        />
      </div>
      <div class="lower-sub">
        <div class="sub1">
          <div class="audio1">
            <audio loop="false" id="m1">
              <source
                src="{{url_for('static', filename='assets/m1.mp3')}}"
                type="audio/mpeg"
              />
            </audio>
            <div class="audio">
              <img
                src="{{url_for('static', filename='assets/play.svg')}}"
                id="p1"
              />
              <h4 style="margin-top: 1rem">The First</h4>
            </div>
          </div>
          <div class="c3">
            <img
              src="{{url_for('static', filename='assets/c3.png')}}"
              width="100%"
              height="100%"
            />
          </div>
        </div>
        <div class="sub2">
          <div class="c4">
            <img
              src="{{url_for('static', filename='assets/c4.png')}}"
              width="100%"
              height="100%"
            />
          </div>
          <div class="audio2">
            <audio loop="false" id="m2">
              <source
                src="{{url_for('static', filename='assets/m2.mp3')}}"
                type="audio/mpeg"
              />
            </audio>
            <div class="audio">
              <img
                src="{{url_for('static', filename='assets/play.svg')}}"
                id="p2"
              />
              <h4 style="margin-top: 1rem">The Fifth</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="c5">
        <img
          src="{{url_for('static', filename='assets/c5.png')}}"
          width="100%"
          height="100%"
        />
      </div>
      <div class="c6">
        <img
          src="{{url_for('static', filename='assets/c6.png')}}"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scriptFooter %}
<script>
  is_audio_1_playing = false;
  is_audio_2_playing = false;
  audio1 = document.getElementById("m1");
  audio2 = document.getElementById("m2");

  document.getElementById("p1").addEventListener("click", function () {
    if (is_audio_2_playing) {
      audio2.pause();
    }
    if (is_audio_1_playing) {
      audio1.pause();
      is_audio_1_playing = false;
    } else {
      is_audio_1_playing = true;
      audio1.play();
    }
  });

  document.getElementById("p2").addEventListener("click", function () {
    if (is_audio_1_playing) {
      audio1.pause();
    }
    if (is_audio_2_playing) {
      audio2.pause();
      is_audio_2_playing = false;
    } else {
      is_audio_2_playing = true;
      audio2.play();
    }
  });
</script>
{% endblock %}
