{% extends "base.html" %} {% block title%}
<title>Flamingo - Home</title>
{% endblock %} {% block css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-wrapper">
  <div class="nav-bar">
    <p class="site-title">Flamingo<span class="period">.</span></p>
    <div class="navigation-tabs">
      <div class="tabs active-tab">
        Home
        <hr color="#ff4242" />
      </div>
      <span class="separator">|</span>
      <p class="tabs">Curated Collection</p>
      <span class="separator">|</span>
      <a class="link" href="/home"><p class="tabs">About</p></a>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <p class="hero-title">
        Deep Learning<br />for <span style="color: #ff4242">Art</span>
      </p>
      <p class="hero-subtitle">
        Ambition without intelligence is<br />a bird without wings.
      </p>
      <div class="music-module">
        <p>Produce Music</p>
        <div class="divider-color"></div>
        <img
          src="{{url_for('static', filename='assets/open_link_color.svg')}}"
          width="15%"
        />
      </div>
      <div class="style-module">
        <p>Transfer Style</p>
        <div class="divider"></div>
        <img
          src="{{url_for('static', filename='assets/open_link_white.svg')}}"
          style="color: white"
          width="15%"
        />
      </div>
    </div>
    <div class="prop">
      <img
        src="{{url_for('static', filename='assets/home_prop.png')}}"
        width="80%"
      />
    </div>
    <div class="footer">
      <p>Github</p>
      <p>Datasets</p>
      <p>Documentation</p>
    </div>
  </div>
</div>
{% endblock %}
