{% extends "base.html" %} {% block title%}
<title>Flamingo - Music Generation</title>
{% endblock %} {% block css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/music_generation.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-wrapper">
  <div class="top-bar">
    <a href="/">
      <div class="back">
        <img src="{{ url_for('static', filename='assets/back.svg') }}" />
      </div>
    </a>
    <div class="caption">
      A new breed of <span style="color: #ff4242">music</span>
    </div>
    <div></div>
  </div>

  <div class="content-wrapper">
    <div class="prop">
      <img
        src="{{ url_for('static', filename='assets/music_prop.png') }}"
        width="70%"
      />
    </div>
    <div class="content">
      <form method="POST" action="/music-generation">
        <div class="form">
        <div class="select-instrument">
            <p>Select an instrument</p>
            <div class="options">
                <div class="subset-1">
                    <input type="radio" name="instrument" value="piano" class="rd-button" id="piano" />
                    <label for="piano">
                        <div class="option-icon piano-icon">
                            <img
                                src="{{ url_for('static', filename='assets/piano-w.svg') }}"
                                width="100%"
                            />
                        </div>
                    </label>

                    <input type="radio" name="instrument" value="violin" class="rd-button" id="violin" />
                    <label for="violin">
                        <div class="option-icon violin-icon">
                            <img
                                src="{{ url_for('static', filename='assets/violin-w.svg') }}"
                                width="100%"
                            />
                        </div>
                    </label>

                    <input type="radio" name="instrument" value="guitar" class="rd-button" id="guitar" />
                    <label for="guitar">
                        <div class="option-icon guitar-icon">
                            <img
                                src="{{ url_for('static', filename='assets/guitar-w.svg') }}"
                                width="100%"
                            />
                        </div>
                    </label>
                </div>
                <div class="subset-2">
                    <input type="radio" name="instrument" value="drums" class="rd-button" id="drums" />
                    <label for="drums">
                    <div class="option-icon drums-icon">
                            <img
                                src="{{ url_for('static', filename='assets/drums-w.svg') }}"
                                width="100%"
                            />
                        </div>
                    </label>

                    <input type="radio" name="instrument" value="flute" class="rd-button" id="flute" />
                    <label for="flute">
                        <div class="option-icon flute-icon">
                            <img
                                src="{{ url_for('static', filename='assets/flute-w.svg') }}"
                                width="100%"
                            />
                        </div>
                    </label>
                    
                    <input type="radio" name="instrument" value="trumpet" class="rd-button" id="trumpet" />
                    <label for="trumpet">
                        <div class="option-icon trumpet-icon">
                            <img
                                src="{{ url_for('static', filename='assets/trumpet-w.svg') }}"
                                width="100%"
                            />
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="duration-container">
            <p class"duration-label>Duration (in seconds)</p>
            <input type='text' name="duration" class="duration" />
        </div>
        <input type="submit" name="submit" class="submit" value="Create"/>
        </div>
      </form>
    </div>
    <div class="footer">
      <p>Github</p>
      <p>Datasets</p>
      <p>Documentation</p>
    </div>
  </div>
</div>
{% endblock %}