{% extends "base.html" %} {% block title%}
<title>Flamingo - Music Generation</title>
{% endblock %} {% block css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/music_generation.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-wrapper">
  <div class="top-bar">
    <a href="/">
      <div class="back">
        <img src="{{ url_for('static', filename='assets/back.svg') }}" />
      </div>
    </a>
    <div class="caption">
      A new breed of <span style="color: #ff4242">music</span>
    </div>
    <div></div>
  </div>

  <div class="content-wrapper">
    <div class="prop">
      <img
        src="{{ url_for('static', filename='assets/music_prop.png') }}"
        width="70%"
      />
    </div>
    <div class="content">
      <form method="POST" action="/handle-music-form">
        <div class="form">
        <div class="select-instrument">
            <p>Select an artist</p>
            <div class="options">
              <input type="radio" name="artist" value="beethoven" class="rd-button" id="beethoven" />
              <label for="beethoven">
                  <div class="option-icon">
                      <img
                          src="{{ url_for('static', filename='assets/beethoven.png') }}"
                          width="80%"
                      />
                  </div>
              </label>

              <input type="radio" name="artist" value="mozart" class="rd-button" id="mozart" />
              <label for="mozart">
                  <div class="option-icon">
                    <img
                        src="{{ url_for('static', filename='assets/mozart.png') }}"
                        width="90%"
                    />
                  </div>
              </label>

              <input type="radio" name="artist" value="schubert" class="rd-button" id="schubert" />
              <label for="schubert">
                  <div class="option-icon">
                      <img
                          src="{{ url_for('static', filename='assets/schubert.png') }}"
                          width="70%"
                      />
                  </div>
              </label>
          </div>
        </div>
        <div class="duration-container">
            <p class"duration-label">Duration (in seconds)</p>
            <input type='number' name="duration" class="duration" autocomplete="off" />
        </div>
        <input type="submit" name="submit" class="submit" value="Create"/>
        </div>
      </form>
    </div>
    <div class="footer">
      <a href="https://github.com/KushGabani/Flamingo/tree/main/music_generation" target="_blank" class="link">
        <p>Github</p>
      </a>
      <a href="https://drive.google.com/file/d/1epTcJbd6Q5QMt1OIjAT2EugbCMvoS1y9/view?usp=sharing" target="_blank" class="link">
        <p>Datasets</p>
      </a>
      <p>Documentation</p>
    </div>
  </div>
</div>
{% endblock %}