{% extends "base.html" %} {% block title%}
<title>Flamingo - Style Transfer</title>
{{ dropzone.load_css() }} {% endblock %} {% block css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/transfer-style.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-wrapper">
    <a href="/"><div class="top-bar">
      <div class="back">
        <img src="{{ url_for('static', filename='assets/back.svg') }}" />
      </div>
    </a>
    <div class="caption">
      Bring <span style="color: #ff4242">creativity</span> to life
    </div>
    <div></div>
  </div>
  <div class="content-wrapper">
    <div class="dropzone-container">
    {{ dropzone.create('/upload-content') }}
    <form action="/handle-transfer-form" method="POST" class="form">
      <div class="options">
        <input type="radio" name="style-image" value="wave" class="rd-button" id="wave" />
        <label for="wave">
          <div class="option-icon">
              <h3>Wave</h3>
          </div>
        </label>

        <input type="radio" name="style-image" value="adobe" class="rd-button" id="adobe" />
        <label for="adobe">
          <div class="option-icon">
              <h3>Woman</h3>
          </div>
        </label>

        <input type="radio" name="style-image" value="scream" class="rd-button" id="scream" />
        <label for="scream">
          <div class="option-icon">
              <h3>Scream</h3>
          </div>
        </label>

        <input type="radio" name="style-image" value="edward" class="rd-button" id="edward" />
        <label for="edward">
          <div class="option-icon">
              <h3>Edward</h3>
          </div>
        </label>

        <input type="radio" name="style-image" value="hubble" class="rd-button" id="hubble" />
        <label for="hubble">
          <div class="option-icon">
              <h3>Pillars of Creation</h3>
          </div>
        </label>
      </div>
      <div class="options">
        <input type="radio" name="style-image" value="avignon" class="rd-button" id="avignon" />
        <label for="avignon">
          <div class="option-icon">
              <h3>Avignon</h3>
          </div>
        </label>

        <input type="radio" name="style-image" value="violin" class="rd-button" id="violin" />
        <label for="violin">
          <div class="option-icon">
              <h3>Picasso's Violin</h3>
          </div>
        </label>
        
        <input type="radio" name="style-image" value="talig" class="rd-button" id="talig" />
        <label for="talig">
          <div class="option-icon">
              <h3>Talig</h3>
          </div>
        </label>

        <input type="radio" name="style-image" value="monalisa" class="rd-button" id="monalisa" />
        <label for="monalisa">
          <div class="option-icon">
              <h3>Mona Lisa</h3>
          </div>
        </label>
      </div>
      <button type="submit"  id="upload" class="transfer-button">Transfer Style</button>
    </form>
    {{ dropzone.load_js() }} {{ dropzone.config() }}
    </div>
  </div>
  <div class="footer">
      <a href="https://github.com/KushGabani/Flamingo/tree/main/style_transfer" target="_blank" class="link">
        <p>Github</p>
      </a>
      <a href="https://drive.google.com/drive/folders/1r3DpGudMGkOUqRCNapR9HdPqBEyMvHT8?usp=sharing" target="_blank" class="link">
        <p>Datasets</p>
      </a>
      <p>Documentation</p>
    </div>
</div>
{% endblock %}